
<html>

<%- include("./partials/head.ejs") %>

<body>
  <div class="header">
    <div class="container">
 <div class="navbar">
     <div class="logo">
         <a href="index.ejs"></a>
 
     </div>
     <%- include("./partials/nav.ejs") %>
    
    <img src="/geanta.jpg" width="30px" height="30px">
    

     </div>
     <h2>Companii</h2>
     
     <table>
       <tr>
	 <th>ID Companie</th>
         <th>Nume Companie</th>
         <th>Numarul de telefon</th>
         <th>Adresa</th>
         <th>Nume Manager</th>
         <th></th>
         
       </tr>
       <% if(companie.length == 0) { %>
        <h4 class= 'font-weight-light text-muted font-italic'> The list it's empty right now.</h4>
        <% } %>
<% for(var i = 0; i < companie.length; i++) { %>
       <tr>
        <td><%= companie[i]._id %></td>
        <td><%= companie[i].nume_comp %></td>
        <td><%= companie[i].nr_telefon %></td>
        <td><%= companie[i].adressa %></td>
        <td><%= companie[i].nume_manager %></td>
         <td> <button style="background: #a2baaf; padding: 5px 20px; margin:20px 0;border-radius: 20px;"> <i class="fa fa-eye"></i><button class="btn1"><i class="fa fa-trash"></i></button></td>
      </tr>
      <% } %>
     </table>
	<a href="/add-companie" class="btn btn-info btn-lg">Adauga o companie</a>
     
     </body>
     </html>
     
