
<html>

<%- include("./partials/head.ejs") %>

<body>
  <div class="header">
    <div class="container">
 <div class="navbar">
     <div class="logo">
         <a href="index.html"></a>
 
     </div>
     <%- include("./partials/nav.ejs") %>
    
    <img src="/geanta.jpg" width="30px" height="30px">
   

     </div>
     <h2>Stock Produse</h2>
     <a href="/add-produs" class="btn">Adauga Produs</a>
     <table>
      <tr>
        <th>Nume Produs</th>
        <th>Data expirarii</th>
        <th>Cantitate</th>
        <th>Id</th>
        <th>Pret</th>
        <th></th>
        
      </tr>
      <% if(produs.length == 0) { %>
        <h4 class= 'font-weight-light text-muted font-italic'> The list it's empty right now.</h4>
        <% } %>
<% for(var i = 0; i < produs.length; i++) { %>
  <tr>
    <a href="/Stock/<%= produs._id %>"></a>
      <td><%= produs[i].title %></td>
      <td><%= produs[i].expir_date %></td>
      <td><%= produs[i].cantitate %></td>
      <td><%= produs[i]._id %></td>
      <td><%= produs[i].price %></td>
    </a>
    <td><input type="button" class="button1" value="Modifica Produs"><a href="/stock/delete/<%= produs[i]._id %>"> Sterge Produs </a></td>
    
  </tr>
<% } %>             
     </table>
     <script>

      var deleteprod=(id) => {
        var element = document.getElementById(id);
        element.parentNode.removeChild(element);
      }

      // const trashcan = document.querySelector('a.delete');
      // trashcan.addEventListener('click', (e) => {
      //   const endpoint = `/Stock/${trashcan.dataset.doc}`;
      //   fetch(endpoint, {
      //     method: 'DELETE',
      //   })
      //   .then(response => response.json())
      //   .then(data => window.location.href = data.redirect)
      //   .catch(err => console.log(err));
      // });
      
    </script>
     </body>
     </html>
     
